.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.25);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 1.0);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery{
    width: 100%;
    height: 100%;
    position: absolute!important;
}
.gallery .item {
  overflow: hidden;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat';
  padding-bottom: 30px;
  font-size: 1.350em;
    text-shadow: 0px 1px 2px RGBA(0,0,0,0.3);
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

@media screen and (min-width: 1440px) {
    .gallery{
    width: 100%;
    height: calc(100% - 100px);
    position: absolute!important;
    }   
}

@media screen and (max-height: 768px) {
    .gallery{
        height: calc(100% - 100px);
    }
}
    
@media screen and (max-width: 768px) {
    .gallery{
       /* height: calc(120% - 60px);*/
	height: 145%;
    }
}
