@charset "utf-8";
/* CSS Document */

/***** fixes *****/



@-moz-document url-prefix() {
    div[class="col_center"]{
    width: 90%;
    float:left;
    margin: 0 5%;
    display: block;
    flex-direction: none;
    flex-wrap:none;
    -webkit-flex-flow: none;
    justify-content: none;
    }
    
    div[class="img_cases"]{
    float: left;
    width: 50%;
    align-items: none;
    display: block;
    flex-flow: none;
    justify-content: none;
    }
    
    div[class="txt_content some_height"]{
    display: block;
    flex-direction: none;
    flex-wrap: none;
    -webkit-flex-flow: none;
    justify-content: none;
    }
    
    div[class="col_25"]{
        
    }
}

 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
     .col_center{
    width: 90% !important;
    float:left !important;
    margin: 0 5% !important;
    display: block !important;
    flex-direction: none !important;
    flex-wrap:none !important;
    -webkit-flex-flow: none !important;
    justify-content: none !important;
     }
     
     .img_cases{
    float: left !important;
    width: 50% !important;
    align-items: none !important;
    display: block !important;
    flex-flow: none !important;
    justify-content: none !important;
     }
     
     .some_height{
         flex-direction: row !important;
     }
     
     .gallery{
         height: 100% !important;
     }
     
     .container_4{
         padding-top: 100px !important;
     }
     
     .container_1{
         padding-top: 250px !important;
     }
     
     .col25{
         
     }
}

/* wrap */
* {
	margin:0;
	padding:0;
} 

html, body {
	height:100%;
}

/* evita problemas com os floats - aplicado a div clearfix */
.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
 
.clearfix:after {
   clear: both;
}
 
.clearfix {
   *zoom: 1;
}

/* faz com que paddings e margins não sejam adicionados ao tamanho dos elementos */
*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/* faz com que: todas as imagens, vídeos e etc tenham no máximo seu tamanho original */
img,
picture,
video,
embed {
   max-width: 100%;
}

/***** padroes *****/

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin:0;
}

div, header, section, nav, img, button{
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}

h1 {
	font-size: 2.625em;
	color: #FFF;
	font-weight: 800;
	letter-spacing: -0.05em;
    width: 100%;
    float: left;
    text-align: center;
    padding: 60px 0 50px 0;
}

h3 {
	font-size: 1.813em;
	color: #fff;
	font-weight: 700;
	letter-spacing: -0.05em;
}

h4 {
	font-size: 1.50em;
	color: #0B3737;
	font-weight: 700;
	letter-spacing: -0.05em;
    padding-bottom: 20px;
}

h6{
        font-size: 1.0em;
        font-weight: 600;
        letter-spacing: -0.03em;
        padding-bottom: 10px;
}

h7{
    font-size: 2.625em;
    color: #FFF;
    font-weight: 800;
    letter-spacing: -0.05em;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 80px;
}

/***** header *****/

header {
	background-color: #fff;
	color: #666;
	font-size: 0.813em;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1000;
    padding: 0 15%;
}

#logo_container{
    width:20%;
    height:80px;
    padding: 10px 0;
    float:left;
}

#logo{
    height: 79px;
}

#fone_header{
    float:right;
    height:20px;
    margin:10px;
    padding:0 15px;
    border-right:1px solid #EEE;
    border-left:1px solid #EEE;
    font-weight:700;
    text-align:center;
}
a#fone_header:link{
    color:#666;
    text-decoration: none;
}

a#fone_header:hover{
    color:#666;
    text-decoration: underline;
}

#menu_desktop{
    width:80%;
    height:100px;
    float:right;
}

#nav_mobile{
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#icon_solucoes{
    width: 140px;
    padding: 10px 0 30px 0;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.85;
    z-index:998
}

.menu_mobile{
    display: none;
    width: 320px;
	position: absolute;
	top: 40px;
    right:-20px;
    text-align: right;
    color: #666;
    font-size: 1.188em;
	z-index: 9999;
    background: #f5f5f5;
}

.links_right{
    float:left;
    width:100%;
    clear:both;
    text-align: center;
}

.links_left{
    float:left;
    width:50%;
    text-align: center;
}

#icon-menu_mobile{
    height:100px;
    position:absolute;
    top:-100px;
    right:0px;
    padding:60px 20px 0 24px;
    background:#F5F5F5;
    z-index: 2;
    text-align: center;
    pointer-events: none;
}

#header_title{
    font-family: 'MontSerrat', sans-serif;
    font-weight: 600;
    letter-spacing: -4px;
    font-size: 4.625em;
    color: #fff;
    text-align: center;
    width: 100%;
    text-shadow: 0px 2px 2px RGBA(0,0,0,0.2);
}

#header_subtitle{
    font-family: 'Lora';
    font-style: italic;
    letter-spacing: -1px;
    font-size: 1.875em;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    padding-bottom: 120px;
    text-shadow: 0px 2px 2px RGBA(0,0,0,0.2);
}

#sobre, #solucoes, #cases, #contato {
    position: relative;
    top: -100px;
}

#item-1, #item-2, #item-3, #item-4, #item-5, #item-6{
    position: relative;
    top: -100px;
}

/***** conteudo *****/
.container_1{
	width: 100%;
    min-height: 100%;
	float: left;
    background:url(../images/backgrounds/bg1.jpg) no-repeat center; background-size: cover; background-attachment: fixed;
    padding: 150px 0 50px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.container_2{
	width: 100%;
    min-height: 100%;
	float: left;
    clear: both;
    background:url(../images/backgrounds/bg2.jpg) no-repeat center; background-size: cover; background-attachment: fixed;
}

.container_3{
	width: 100%;
    height: 100%;
	float: left;
    clear: both;
}

.container_4{
	width: 100%;
    min-height: 100%;
	float: left;
    clear: both;
    background:url(../images/backgrounds/bg4.jpg) no-repeat center; background-size: cover; background-attachment: fixed;
}

.container_5{
	width: 100%;
    min-height: 100%;
    height: 100%;
	float: left;
    clear: both;
    background:#222222; background-size: cover; background-attachment: fixed;
}

.case1{
    background: url(../images/backgrounds/bg_natura.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.case2{
    background: url(../images/backgrounds/bg_volks.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.case3{
    background: url(../images/backgrounds/bg_fg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.case4{
    background: url(../images/backgrounds/bg_timac.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.case5{
    background: url(../images/backgrounds/bg_cel.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.case6{
    background: url(../images/backgrounds/bg_tennis.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.subtitle{
    font-size: 1.188em;
    font-weight: 300;
    color: #CCC;
    padding: 10px 0;
}

.txt_cases{
    font-size: 1.0em;
    padding: 20px 0;
    line-height: 28px
}

.container_txt_cases{
    width:45%;
    margin-right: 5%;
    text-align: left;
    float: left;
    padding: 80px 0;
}

.img_cases{
    float:left;
    width:50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.txt_content{
    font-size:1.250em;
    color: #fff;
    line-height: 34px;
    font-weight: 300;
    padding: 0 20%;
    text-align: justify;
}

.some_height{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.col_25{
    width: 20%;
    float: left;
    padding: 80px 40px 40px 40px;
    text-align: center;    
}

.col_center{
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

#container_contato{
    position:absolute;
    width:100%; 
    height:100%;
    min-height: 100%;
    z-index:999
}

#center_contato{
    margin: 0 auto;
    width: 690px;
}

#content_contato{
   float: left;
    width: 690px;
    background: #f9f9f9;
    color: #333;
}

#inner_contato{
    float: left;
    width: 442px;
    padding: 40px 30px;
    background: #FFF;
    border-right: 1px solid #EEE;
}

#sidebar_contato{
    float: left;
    padding: 50px 30px;
    width: 240px;
}

#logo_sidebar{
    width: 100%;
    float: left;
    padding-bottom: 30px;
}

#infos_sidebar{
    width: 100%;
    float: left;
    color: #333;
    font-weight: 700;
    font-size: 0.938em;
    padding-bottom: 25px;
}

#enderecos_sidebar{
    width: 100%;
    float: left;
    color: #333;
    font-size: 0.813em;
    padding-bottom: 25px;
}

    a.btn_fb_sidebar {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/icon_fb.svg) no-repeat;
    background-size: 20px;
	cursor: pointer;
    }

    a.btn_fb_sidebar:hover {
	width: 20px;
	height: 20px;
	background: url(../images/icon_fb.svg) no-repeat 0px -20px;
    background-size: 20px;
    }

    a.btn_linkedin_sidebar {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/icon_linkedin.svg) no-repeat;
    background-size: 20px;
	cursor: pointer;
    }

    a.btn_linkedin_sidebar:hover {
	width: 20px;
	height: 20px;
	background: url(../images/icon_linkedin.svg) no-repeat 0px -20px;
    background-size: 20px;
    }

    a.btn_twitter_sidebar {
	display: inline-block;
	width: 24px;
	height: 20px;
	background: url(../images/icon_twitter.svg) no-repeat;
    background-size: 24px;
	cursor: pointer;
    }

    a.btn_twitter_sidebar:hover {
	width: 24px;
	height: 20px;
	background: url(../images/icon_twitter.svg) no-repeat 0px -20px;
    background-size: 24px;
    }

#btn_comochegar{
    border: 2px solid #333;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.813em;
    padding: 8px 20px;
    letter-spacing: -1px;
    background: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#btn_comochegar:hover{
    background: #333;
    color: #fff; 
}

.form_row{
    width: 100%;
    float: left;
    font-size: 0.875em;
    font-weight: 600;
    padding-bottom: 10px;
}

.form_row_name{
	width: 55%;
	float: left;
	padding-bottom: 10px;
	padding-right: 20px;
	 
}

.form_row_fone{
    width: 45%;
    float: left;
    padding-bottom: 10px;
}

.form_row_empresa{
    width: 55%;
    float: left;
	padding-right: 20px;
    padding-bottom: 10px;
}

.form_row_cargo{
    width: 45%;
    float: left;
    padding-bottom: 10px;
}

.form_row_mensagem{
    padding-bottom: 15px;
}


.contato_mensagem{
    border: 1px solid #CCC;
    padding: 5px 10px;
    margin: 5px 0;
    background: #FFF;
    width: 100%;
    height: 100px;
}

#btn_green_contato{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.938em;
    background: #00BA7B;
    border: 2px solid #00BA7B;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#btn_green_contato:hover{
    background: #00915E;
    border: 2px solid #00915E;
}

#btn_contato_form{
    height: 44px;
    padding: 10px 30px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.938em;
    background: #00BA7B;
    border: 2px solid #00BA7B;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#btn_contato_form:hover{
    background: #00915E;
    border: 2px solid #00915E;
}

.contato_campos{
    height: 34px;
    border: 1px solid #CCC;
    padding: 5px 10px;
    margin: 5px 0;
    background: #FFF;
    width: 100%;
}

#img_sobre{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 0 60px 0;
    text-align: center;
}

button{
    padding: 14px 35px;
    cursor: pointer;
}

#btn_outline{
    margin: 0 25px;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.938em;
    letter-spacing: -1px;
    background: none;
    min-width: 225px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#btn_outline:hover{
    margin: 0 25px;
    background: #FFF;
    color: #333; 
}

#btn_green{
    margin: 0 25px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.938em;
    letter-spacing: -1px;
    background: #00BA7B;
    border: 2px solid #00BA7B;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#btn_green:hover{
    margin: 0 25px;
    background: #00915E;
    border: 2px solid #00915E;
}

/***** footer *****/

footer {
	background-color:#FFF;
	width: 100%;
    float: left;
	height: 30px;
	position:relative;
	clear:both;
}

.copyright {
	font-size: 0.68em;
	color: #666;
	line-height: 30px;
	font-weight: 600;
	text-align: center;
}

/***** links *****/

a.btn_fb {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icon_fb.svg) no-repeat;
	cursor: pointer;
}

a.btn_fb:hover {
	width: 16px;
	height: 16px;
	background: url(../images/icon_fb.svg) no-repeat 0px -16px;
}

a.btn_linkedin {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icon_linkedin.svg) no-repeat;
	cursor: pointer;
}

a.btn_linkedin:hover {
	width: 16px;
	height: 16px;
	background: url(../images/icon_linkedin.svg) no-repeat 0px -16px;
}

a.btn_twitter {
	display: inline-block;
	width: 19px;
	height: 16px;
	background: url(../images/icon_twitter.svg) no-repeat;
	cursor: pointer;
}

a.btn_twitter:hover {
	width: 19px;
	height: 16px;
	background: url(../images/icon_twitter.svg) no-repeat 0px -16px;
}

.itens_menu a {
	 border-top:1px solid #EEE;
	padding: 0 20px;
	height: 60px;
	float: right;
	line-height: 59px;
	text-align: center;
	font-weight: 700;
}

.itens_menu a:link {
	text-decoration: none;
	color: #666;
	border-bottom: 0px solid #4488A6;
	transition: ease-in-out 0.1s;
	-moz-transition: ease-in-out 0.1s;
	-webkit-transition: ease-in-out 0.1s;
}

.itens_menu a:visited {
	text-decoration: none;
	color: #666;
	border-bottom: 0px solid #4488A6;
}

.itens_menu a:hover {
	text-decoration: none;
	color: #4488A6;
	border-bottom: 4px solid #4488A6;
}

.itens_menu a:active {
	text-decoration: none;
	color: #666;
	border-bottom: 0px solid #4488A6;
	
}

.lang_select a {
	color:#666;
	text-decoration:none;

}

.lang_select a:link {
	color:#666;
	transition: ease-in-out 0.1s;
	-moz-transition: ease-in-out 0.1s;
	-webkit-transition: ease-in-out 0.1s;
}

.lang_select a:visited {
	color:#666;
	text-decoration:none;
}

.lang_select a:hover {
	color: #4488A6;
	text-decoration:underline;
}

.lang_select a:active {
	color:#666;
	text-decoration:none;	
}

/*** media queries ***/

@media screen and (min-width: 1440px) {
    .container_3{
    width: 100%;
    height: calc(100% - 100px);
    float: left;
    clear: both;
    }   
}

@media screen and (max-width: 1440px) {
    header{
        padding: 0 10%;
    } 
    
    .txt_content{
    font-size:1.125em;
    line-height: 30px;
    font-weight: 300;
    padding: 0 10%;
    }
    
    #img_sobre{
    width: 942px;
    margin: 0 auto;
    padding: 150px 0 50px 0;
    text-align: center;
    }
    
    h1{
        padding: 80px 0 30px 0;
    }
    
    .col_25{
    width: 20%;
    float: left;
    padding: 80px 30px 40px 30px;
    text-align: center;    
    }

    .col_center{
    width: 100%;
    margin: 0 auto;
    }
    
    .container_5{
        height: 120%;
    }
    
    .overlay{
        height: 120%;
    }
    
    .img_cases{
    float: left;
    width: 50%;
    padding: 0 5%;
    text-align: right;
    }
    
    .some_height{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    flex-direction: none;
    flex-wrap: none;
    -webkit-flex-flow: none;
    justify-content: none;
        
    }
    
}

@media screen and (max-width: 1366px) {
    .img_cases{
    float: left;
    width: 50%;
    padding: 0 8%;
    text-align: right;
    }
}

@media screen and (max-width: 1024px) {    
    header{
        padding: 0 20px;
    }
    
    h1{
        padding: 70px 0 30px 0;
    }
    
    #sobre, #solucoes, #cases, #contato{
        position: relative;
        top: -80px;
    }
    
    #img_sobre{
    width: 80%;
    margin: 0 auto;
    padding: 100px 0 50px 0;
    text-align: center;
    }
    
    .col_25{
    width: 25%;
    float: left;
    padding: 40px 30px 40px 30px;
    text-align: center;    
    }
    
    .txt_content{
    margin-bottom: 40px;
    }
}

@media screen and (max-height: 768px) {
.container_txt_cases{
    width:45%;
    margin-right: 5%;
    text-align: left;
    float: left;
    padding: 40px 0;
}
    .container_3{
        height: calc(100% - 100px);
    }
}


@media screen and (max-width: 768px) {
    #menu_desktop{
        display: none;        
    }
    #nav_mobile{
        display: block;
    }

    #btn_outline, #btn_green{
        margin: 15px;
        width: 240px;
    }
    
    header{
        height: 60px;
    }
    .container_3 {
        height:  calc(150% - 60px);
    }
    
    #logo_container{
        height: 50px;
        padding: 5px 0;
    }
    
    #logo{
        height: 50px;
    }
    
    #center_contato{
    width: 100%;
    }
    
    .txt_content{
    font-size:1.0em;
    line-height: 25px;
    font-weight: 300;
    padding: 0 10%;
    }
    
    .col_25{
    width: 50%;
    float: left;
    padding: 40px 30px 60px 30px;
    text-align: center;    
    }
    
    #img_sobre{
    width: 80%;
    margin: 0 auto;
    padding: 120px 0 50px 0;
    text-align: center;
    }
    
    #content_contato{
    width: 100%;
    }

    #inner_contato{
    width: 100%;
    padding: 30px;
    clear: both;
    border: none;
    }

    #sidebar_contato{
    background: #F9F9F9;
    width: 100%;
    padding: 30px;
    border-left: none;
    clear: both;
    }
    
    .form_row{
    padding-top: 20px;
    }
    
    .container_txt_cases{
    width:100%;
    margin-right: 5%;
    text-align: justify;
    float: left;
    clear: both;
    padding: 40px 0;
    }
    
    .img_cases{
    float: left;
    width: 100%;
    clear: both;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    #header_title{
        font-size:3.175em;
        letter-spacing: -2px;
    }
    
    #header_subtitle{
        font-size:1.525em;
        letter-spacing: 0px;
        padding-bottom: 50px;
    }
    
    h1{
        font-size: 1.750em;
        padding: 50px 0 30px 0;
    }
    
    #sobre, #solucoes, #cases, #contato{
    position: relative;
    top: -50px;
    }
    
    #img_sobre{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0 40px 0;
    text-align: center;
    }
    
    .txt_content{
    font-size:1.0em;
    line-height: 22px;
    font-weight: 300;
    padding: 0 30px;
    }
    
    .col_25{
    width: 100%;
    float: left;
    padding: 20px 50px 40px 50px;
    text-align: center;    
    }
    
    .col_center{
    width: 100%;
    margin: 0 auto;
    }
    
    .txt_cases{
    font-size: 1.0em;
    padding: 20px 0;
    line-height: 24px;
    }
    
    
}

@media screen and (max-width: 360px) {
    #header_title{
        font-size:2.375em;
        letter-spacing: -2px;
    }
    
    #header_subtitle{
        font-size:1.125em;
        letter-spacing: 0px;
    }
    
    h1{
        font-size: 1.50em;
        padding: 50px 0 30px 0;
    }
    
    
    #sobre, #solucoes, #cases, #contato{
    position: relative;
    top: -50px;
    }
    
    #img_sobre{
    width: 300px;
    margin: 0 auto;
    padding: 60px 0 30px 0;
    text-align: center;
    }
        
    .col_25{
    width: 100%;
    float: left;
    padding: 20px 40px 40px 40px;
    text-align: center;  
    }
    
    .col_center{
    width: 100%;
    margin: 0 auto;
    }   
}

.required {
	color: red;
	font-weight: bold;
	display: inline;
}

.solucoes{
	width:150%;
	position:absolute;
	opacity:0.92;
	padding: 15% 10%;
	background-color: #219c8d;
    border-radius: 4%;
	margin-top: 15%;
	display:none;
	z-index: 1;
}

#cloudxl{
	left:100%;
	top: -5%;
}
#movelxl{
	left:100%;	
	top: -5%;
}
#offlinexl{
	left:100%;
	top:-5%;
}

#crmxl{
	top:-35%;
	left:100%;
}

#bigdataxl{
	top:-35%;
	right:100%;
}

#sociaisxl{
	left:100%;
	top: 0;
}

#chatxl{
	left:100%;
	top:-15%;
}

#pagamentosxl{
	left:100%;
	top:0;
}

#emailxl{
	left:100%;
	top:-5%;
}

#customxl{
	right: 100%;
	top:0;
}

#txt_solucoes{
    padding:0 15%;
    text-align: center;
}

