body{
    color: lime;
}

.col_center{
    width: 90%;
    float:left;
    margin: 0 5%!important;
    display: block;
    flex-direction:none;
    flex-wrap:none;
    -webkit-flex-flow: none;
    justify-content: none;;
    }

.txt_content, .some_height{
    display: block;
    flex-direction: none;
    flex-wrap: none;
    -webkit-flex-flow: none;
    justify-content: none;
}